# Add any directories, files, or patterns you don't want to be tracked by version control
Library/**
Temp/**
KnetikSDK.sln
KnetikSDK.csproj
KnetikSDK.Editor.csproj
**\.mdb**
**\.pdb**
**/\.vs/**
**\.user**
